@layout('main')
  @section('content')
    <h1>{{ task.title }}</h1>
    <p>{{ task.body }}</p>
    <hr>
    <a class="btn btn-dark float-left" href="/tasks/edit/{{ task.id }}">Editar</a>
    <form action="/tasks/{{ task.id + '?_method=DELETE' }}" method="POST">
      {{ csrfField() }}
      <button type="submit" class="btn btn-danger float-right">Eliminar</button>
    </form>
  @endsection
